@media screen and (max-width:600px) {
    .x{
  display: none;
    }
    .y{
        font-size: 14px;
        font-weight: 400;
    }
.text-small{
  font-size: 12px;
  font-weight: 200;
}
   
}

body{
    font-family: 'Cairo', sans-serif !important;
    

  }
  .ant-layout-content{
    height: max-content;
  }
  
  @media screen and(max-width:600px) {
   aside.ant-layout-sider.ant-layout-sider-dark{
  
    width: 100px;
   }
  }
  